# Github config
/.github

# Visual studio code
/.vscode

# IstambulJS coverage reports
/.nyc_output
/coverage

# AntJS Docs
/docs

# npm dependencies
/node_modules

# AntJS development scripts
/scripts

# coveralls config
.coveralls.yml
